/* Bastien Nicoud - Think Analog */
/* Projet semestriel - novembre 2016 */

/* Toutes les classes spécifique a la partie administrative du site prennent le prefix a */

@charset "utf-8";

body{
  
}

footer{

}

/* Classes specifiques pour la partie admin du site */

.a-bgcolor {
  background: #ecf0f1;
}

.a-loginbox {
  background: #bdc3c7;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20%;
  margin-bottom: 30%;
}

.a-logomgbottom {
  margin-bottom: 20px;
}

.a-btncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.a-asize {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 5px;
  font-size: 10pt;
}

.a-first-row{
  margin-top: 30px;
}

.a-footerrow{
  margin.top: 30px;
  margin-bottom: 30px;
}