/* Bastien Nicoud - Think Analog */
/* Projet semestriel - décembre 2016 */

/* Toutes les classes spécifique a la partie administrative du site prennent le prefix a */

@charset "utf-8";

/****************************************************************/
/* Chargement des polices                                       */
/****************************************************************/

@font-face {
    font-family: "HelveticaNeueLTSd Bd";
    src: url(../fonts/HelveticaNeueLTStdBd.otf);
}

@font-face {
    font-family: "HelveticaNeueLTSd Lt";
    src: url(../fonts/HelveticaNeueLTStdLt.otf);
}

@font-face {
    font-family: "HelveticaNeueLTSd Md";
    src: url(../fonts/HelveticaNeueLTStdMd.otf);
}

@font-face {
    font-family: "HelveticaNeueLTSd Th";
    src: url(../fonts/HelveticaNeueLTStdTh.otf);
}

/****************************************************************/
/* Body - regles globales                                       */
/****************************************************************/

body {
  height: 100%;
  font-family: "HelveticaNeueLTSd Md", "Helvetica", "Arial", sans-serif;
  background-color: #ecf0f1;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ecf0f1;
  transition-duration: 0.3s;
}

a:hover {
  text-decoration: none;
  color: #f83600 !important;
}

h4 {
  color: #f83600 !important;
}

/* Footer foncé pour la partie publique du site */
.dark-footer {
  background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e); /* Standard syntax */
}

/* section de l'accueil qui est foncée */
#skills {
  background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e); /* Standard syntax */
}

/* Me permet de passer certains textes au noir */
.color-dark {
 color: #000000;
}

/* Po espacer un peu les paragraphes entre eux */
.padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.media-heading {
  color: #f83600 !important;
}

.col-inverse {
  color: #ecf0f1 !important;
}

/* Les deux regles suivantes me permettent d'espacer plus les elements de debut et de fin d'une section */
.section-first {
  margin-top: 50px;
}

.section-last {
  margin-bottom: 50px;
}

.section-last-big {
  margin-bottom: 100px;
}

/* pour espacer un peu plus les media->(mise en forme bootstrap que j'utilise sur la page d'accueil) sur petits ecrans */
@media (max-width: 767px) {

  .media {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

/* Pour le paragraphe d'accroche dans la page des produis */
.product-header {
  font-weight: bold;
  font-size: 18px;
}

/* Footer, largeur maximum */
footer {
  width: 100%;
}

/* 2 classes pour l'afichage des mignatures des produits, j'utilise les flexbox pour que ma colonne fasse la hauteur de ma row */
.product-row {
  display: flex;
  flex-wrap: wrap;
}

.product-img-small {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

/****************************************************************/
/* Navigation                                                   */
/****************************************************************/

/* Couleur et hauteur de la navigation */
.navbar {
  height: 140px;
  margin-bottom: 0px;
  border-bottom: 0px;
  background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e); /* Standard syntax */
}

/* Couleur liens de la navigation */
.navbar-default .navbar-nav>li>a {
  color: #ecf0f1;
}

/* Hauteur du conteneur dans la nav */
.navbar-height {
  height: 140px;
}

/* espacement des liens sur grands ecrans */
@media (min-width: 768px) {

  .navbar-nav {
    padding-top: 86px;
  }

}

/* Eneleve la bordure sur le menu derouland (petits ecrans) */
.navbar-collapse {
  border-top: none;
}

/* Position des liens dans le menu deroulant sur petits ecrans */
@media (max-width: 767px) {

  .navbar-link-big {
    padding-top: 8px !important;
    padding-bottom: 6px !important;
    text-align: right;
  }

}

/* Taille des liens */
.navbar-link-big {
  font-size: 20px;
}

/* Fond du menu deroulant */
.navbar-collapse {
  background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e); /* Standard syntax */
}

/* Position du bouton et duree d'animation */
.navbar-toggle {
  margin-top: 82px;
  transition-duration: 0.3s;
}

/* Taille du log dans navigation */
.navbar-brand-img{
  height: 70px;
}

/* Espacements autour du logo */
.navbar-brand {
  padding: 20px;
  padding-top: 60px;
}


/* sur petits ecrans, modification de la taille du logo et position */
@media (max-width: 767px) {

  .navbar-brand-img{
    height: 50px;
  }

  .navbar-brand{
    padding-top: 74px;
  }

}

/****************************************************************/
/* Slider                                                       */
/****************************************************************/

/* slider a la largeur maximum de la page */
.width-maximum {
  width: 100%;
}

/****************************************************************/
/* section 4 - membres                                          */
/****************************************************************/

/* taille des images des membres et radius pour rendre le cadre arrondi */
.team-img>img{
  width: 100%;
  border-radius: 50%;
}

/* Espacements des nom en dessous des phptos des meembres */
.team-name {
  margin-top: 20px;
}

.tam-description {
  margin-bottom: 20px;
}

/****************************************************************/
/* Classes specifiques pour la partie admin du site             */
/****************************************************************/

.a-bgcolor {
  background: #ecf0f1;
}

/* position de la box de login */
.a-loginbox {
  background: #bdc3c7;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 20%;
}

/* marge sous le log de la loginbox */
.a-logomgbottom {
  margin-bottom: 20px;
}

/* centrgae du bouton loginbox */
.a-btncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Position du lien de retour a l'aceuil think analog dans la page de login */
.a-asize {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 5px;
  font-size: 10pt;
}

/* Pour espacer la premiere ligne */
.a-first-row{
  margin-top: 30px;
}

/* Pour espacer le footer */
.a-footerrow{
  margin.top: 30px;
  margin-bottom: 30px;
}
