/* Bastien Nicoud - Think Analog */
/* Projet semestriel - novembre 2016 */

/* Toutes les classes spécifique a la partie administrative du site prennent le prefix a */

@charset "utf-8";

/****************************************************************/
/* Chargement des polices                                       */
/****************************************************************/

@font-face {
    font-family: "HelveticaNeueLTSd Bd";
    src: url(../fonts/HelveticaNeueLTStdBd.otf);
}

@font-face {
    font-family: "HelveticaNeueLTSd Lt";
    src: url(../fonts/HelveticaNeueLTStdLt.otf);
}

@font-face {
    font-family: "HelveticaNeueLTSd Md";
    src: url(../fonts/HelveticaNeueLTStdMd.otf);
}

@font-face {
    font-family: "HelveticaNeueLTSd Th";
    src: url(../fonts/HelveticaNeueLTStdTh.otf);
}

/****************************************************************/
/* Body - regles globales                                       */
/****************************************************************/

body {
  height: 100%;
  font-family: "HelveticaNeueLTSd Md", "Helvetica", "Arial", sans-serif;
  background-color: #ecf0f1;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ecf0f1;
  transition-duration: 0.3s;
}

a:hover {
  text-decoration: none;
  color: #f83600 !important;
}

h4 {
  color: #f83600 !important;
}

.dark-footer {
  background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e); /* Standard syntax */
}

#skills {
  background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e); /* Standard syntax */
}

.color-dark {
 color: #000000;
}

.padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.media-heading {
  color: #f83600 !important;
}
.col-inverse {
  color: #ecf0f1 !important;
}

.section-first {
  margin-top: 50px;
}

.section-last {
  margin-bottom: 50px;
}

@media (max-width: 767px) {

  .media {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.product-header {
  font-weight: bold;
  font-size: 18px;
}

/****************************************************************/
/* Navigation                                                   */
/****************************************************************/

.navbar {
  height: 140px;
  margin-bottom: 0px;
  border-bottom: 0px;
  background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e); /* Standard syntax */
}

.navbar-default .navbar-nav>li>a {
  color: #ecf0f1;
}

.navbar-height {
  height: 140px;
}

@media (min-width: 768px) {
  
  .navbar-nav {
    padding-top: 86px;
  }

}

.navbar-collapse {
  border-top: none;
}

@media (max-width: 767px) {

  .navbar-link-big {
    padding-top: 8px !important;
    padding-bottom: 6px !important;
    text-align: right;
  }

}

.navbar-link-big {
  font-size: 20px;
}

.l-active {
  color: #95a5a6 !important;
}

.navbar-collapse {
  background: #2c3e50; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2c3e50, #34495e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e); /* Standard syntax */
}

.navbar-toggle {
  margin-top: 82px;
  transition-duration: 0.3s;
}

.navbar-brand-img{
  height: 70px;
}

.navbar-brand {
  padding: 20px;
  padding-top: 60px;
}

@media (max-width: 767px) {

  .navbar-brand-img{
    height: 50px;
  }

  .navbar-brand{
    padding-top: 74px;
  }

}

/****************************************************************/
/* Slider                                                       */
/****************************************************************/

.second-plan {
  position: relative;
  z-index: -999999;
}

.width-maximum {
  width: 100%;
}

/****************************************************************/
/* section 4 - membres                                          */
/****************************************************************/

.team-img>img{
  width: 100%;
  border-radius: 50%;
}

.team-name {
  margin-top: 20px;
}

.tam-description {
  margin-bottom: 20px;
}

/****************************************************************/
/* Classes specifiques pour la partie admin du site             */
/****************************************************************/

.a-bgcolor {
  background: #ecf0f1;
}

.a-loginbox {
  background: #bdc3c7;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20%;
  margin-bottom: 30%;
}

.a-logomgbottom {
  margin-bottom: 20px;
}

.a-btncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.a-asize {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 5px;
  font-size: 10pt;
}

.a-first-row{
  margin-top: 30px;
}

.a-footerrow{
  margin.top: 30px;
  margin-bottom: 30px;
}